<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.java.dao.InfoMapper">
  <resultMap id="BaseResultMap" type="org.java.entity.Info">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="clazz" jdbcType="VARCHAR" property="clazz" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="bir" jdbcType="DATE" property="bir" />
  </resultMap>
</mapper>